{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<div class="padding-tb-40px background-light-grey">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 sticky-content">

					<div class="background-white border border-grey-1">
						<ul class="slider-1 margin-0px padding-0px list-unstyled">
							<li><img src="{{ image }}" alt=""></li>
						</ul>
					</div>
					<!-- // slider -->

					<div class="background-white border border-grey-1 padding-10px margin-0px">
						<h3 class="text-medium font-weight-700 border-bottom-1 border-second-color padding-bottom-8px">PAYS : {{ countryInfo.name.common }}</h3>
					</div>
					<div class="background-white border border-grey-1 padding-10px margin-0px">
						<h3 class="text-medium font-weight-700 border-bottom-1 border-second-color padding-bottom-8px">Capital : {{ countryInfo.capital | first }}</h3>
					</div>
					<div class="background-white border border-grey-1 padding-10px margin-0px">
						<h3 class="text-medium font-weight-700 border-bottom-1 border-second-color padding-bottom-8px">Région : {{ countryInfo.region }}</h3>
					</div>
					<div class="background-white border border-grey-1 padding-10px margin-0px">
						<h3 class="text-medium font-weight-700 border-bottom-1 border-second-color padding-bottom-8px">Sous-Région : {{ countryInfo.subregion }}</h3>
					</div>
					<div class="background-white border border-grey-1 padding-10px margin-0px">
						<h3 class="text-medium font-weight-700 border-bottom-1 border-second-color padding-bottom-8px">Devise :
							{% for currency in countryInfo.currencies %}
								{{ currency.name }} => {{ currency.symbol }}
							{% endfor %}
						</h3>
					</div>
					<div class="background-white border border-grey-1 padding-10px margin-0px">
						<h3 class="text-medium font-weight-700 border-bottom-1 border-second-color padding-bottom-8px">Langue :
							{% for language in countryInfo.languages %}
								{{ language }}
							{% endfor %}
						</h3>
					</div>

				</div>

				<div class="col-lg-4 sticky-sidebar">

					<div class="hotel-grid background-white border border-grey-1 with-hover margin-bottom-30px">
						<div class="hotel-img position-relative">
							<img src="https://images.unsplash.com/photo-1615561916422-7014e1078997?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
							<div class="hover-option background-main-color opacity-6">
								<h3 class="text-center text-white padding-top-n-25 "></h3>
							</div>
						</div>
						<div class="padding-20px">
							<h3 class="text-uppercase text-medium"><a href="{{ path('travel.book') }}" class="text-dark font-weight-700">{{ travelData.originAirport }}</a></h3>
							<small class="d-block text-uppercase text-extra-small margin-bottom-10px">
								<a href="{{ path('travel.book') }}" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
									Départ :  <span class="text-third-color margin-right-5px">{{ travelData.departureDate }}</span> </a>
							</small>
							<small class="d-block text-uppercase text-extra-small">
								<a href="" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
									Retour :  <span class="text-third-color margin-right-5px">Non estimé</span> </a>
							</small>
							<i class="d-block padding-tb-8px text-grey-2 "><span class="margin-right-30px">from: {{ travelData.originCountry }}</span>to: {{ travelData.destinationCountry }}</i>
							<div class="claerfix"></div>
							<div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
								<strong class="text-medium text-third-color padding-right-5px font-weight-bold">{{ flight.price.total }} {{ flight.price.currency | currency_symbol }}</strong>Total
								<i class="d-block padding-tb-8px text-grey-2"><span class="margin-right-40px">{{ flight.oneWay ? 'Vol Direct' : 'Escale' }}</span>{{ flight.oneWay ? '' : flight.itineraries|length }}</i>
							</div>
							<a href="{{ path('travel.book') }}" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase ">Réserver Maintenant </a>
						</div>
					</div>
					<!-- // detailed -->

					<!-- Need help ? -->
					<div class="background-second-color border border-grey-1 padding-30px margin-bottom-30px">
						<h3 class="text-uppercase text-medium font-weight-700 padding-bottom-8px">NEED HELP?</h3>
						<div class="text-uppercase text-extra-large text-white font-weight-700 padding-bottom-8px">+222 370 447 17</div>
						<div class="text-uppercase text-medium">Sunday to Friday 9.00am - 7.30pm</div>
					</div>
					<!-- // Need help  -->


				</div>
				<!-- // col-lg-3 -->
			</div>
			<!-- // row -->

		</div>
	</div>
{% endblock %}
