<header class="background-white box-shadow">
	<div class="background-main-color padding-tb-5px">
		<div class="container">
			<div class="row">
				<div class="col-sm d-none d-sm-block">
					<ul class="user-area list-inline float-right margin-0px text-white">
						{% if app.user %}
							<li class="list-inline-item padding-right-10px">{{ app.user.username }}</li>
							<li class="list-inline-item"><a href="{{ path('app_logout') }}"><i class="fa fa-user-plus padding-right-5px"></i>Déconnexion</a></li>
						{% else %}
							<li class="list-inline-item padding-right-10px"><a href="{{ path('app_login') }}"><i class="fa fa-lock padding-right-5px"></i>Connexion</a></li>
							<li class="list-inline-item"><a href="{{ path('app_register') }}"><i class="fa fa-user-plus padding-right-5px"></i>S'inscrire</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-output">
		<div class="container header-in">
			<div class="row">
				<div class="col-lg-3">
					<a id="logo" href="{{ path('home') }}" class="d-inline-block margin-tb-10px"><img src="{{ asset('images/logo.png') }}" alt=""></a>
					<a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
				</div>
			</div>
		</div>
	</div>
</header>
